NEW.S.2018.Masarnouski.08/.vs/NEW.S.2018.Masarnouski.08/v15/Server/sqlite3/db.lock
NEW.S.2018.Masarnouski.08/.vs/NEW.S.2018.Masarnouski.08/v15/Server/sqlite3/storage.ide
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/App.config
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/Properties/AssemblyInfo.cs
NEW.S.2018.Masarnouski.08/.vs/NEW.S.2018.Masarnouski.08/v15/Server/sqlite3/storage.ide-shm
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/NEW.S.2018.Masarnouski.08.csproj.FileListAbsolute.txt
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/bin/Debug/NEW.S.2018.Masarnouski.08.exe.config
NEW.S.2018.Masarnouski.08/.vs/NEW.S.2018.Masarnouski.08/v15/.suo
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/NEW.S.2018.Masarnouski.08.csproj.CoreCompileInputs.cache
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/NEW.S.2018.Masarnouski.08.pdb
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/NEW.S.2018.Masarnouski.08.exe
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/NEW.S.2018.Masarnouski.08.csprojResolveAssemblyReference.cache
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/bin/Debug/NEW.S.2018.Masarnouski.08.pdb
NEW.S.2018.Masarnouski.08/NEW.S.2018.Masarnouski.08/bin/Debug/NEW.S.2018.Masarnouski.08.exe
